<div class="app-shell">
  <div>
      <mat-toolbar>
       <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" (click)="viewNavegate()" aria-label="Example icon-button with share icon">
       <mat-icon>close</mat-icon>
     </button>
    </mat-toolbar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
